
<%= simple_form_for(@adr_list) do |f| %>
  <%= f.error_notification %>
  <%= f.error_notification message: f.object.errors[:base].to_sentence if f.object.errors[:base].present? %>

  <div class="form-inputs">
    <%= f.input :Address,label:"Gyvenamoji vieta" %>
    <%= f.input :Phone ,label:"Telefono numeris" %>
    <%= f.input :Name,label:"Jusu Vardas" %>
    <%= f.input :LastName, label:"Jusu Pavarde" %>
    <%= f.input :email, hint:"naudojamas elektroninis pastas" %>
  </div>

  <div class="form-actions">
    <%= f.button :submit %>
  </div>
<% end %>
