<p id="notice"><%= notice %></p>

<h1>Adresu Knyga</h1>

<table>
  <thead>
    <tr>
      <th>Adresas</th>
      <th>Telefonas</th>
      <th>Vardas</th>
      <th>Pavarde</th>
      <th>Email</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @adr_lists.each do |adr_list| %>
      <tr>
        <td><%= adr_list.Address %></td>
        <td><%= adr_list.Phone %></td>
        <td><%= adr_list.Name %></td>
        <td><%= adr_list.LastName %></td>
        <td><%= adr_list.email %></td>
        <td><%= link_to 'Show', adr_list %></td>
        <td><%= link_to 'Edit', edit_adr_list_path(adr_list) %></td>
        <td><%= link_to 'Destroy', adr_list, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Adr List', new_adr_list_path %>
