<p id="notice"><%= notice %></p>

<div class="jumbotron">
  <h1 class="display-4">
    <%= @adr_list.Name %>
    <%= @adr_list.LastName %>
  </h1>
  <p class="lead">
    <%= @adr_list.Address %> |
    <%= @adr_list.Phone %> |
    <%= @adr_list.email %>

  </p>
  <br/><br/>


  <%= link_to 'Edit', edit_adr_list_path(@adr_list), class:"btn btn-secondary" %> |
  <%= link_to 'Back', adr_lists_path, class:"btn btn-secondary" %>
</div>
